.conteudo {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  margin: 0 auto;
  align-items: center;
  margin-top: 100px;
}

.image_right {
  width: 60%;
  height: auto;
}

.conteudo_left {
  display: flex;
  flex-direction: column;
  width: 25.5em;
}

.explore {
  display: flex;
  color: #f85e9f;
  align-items: center;
  gap: 10px;
  font-size: 0.85em;
  margin-bottom: 43px;
  align-items: center;
}

.title {
  margin-bottom: 43px;
  font-size: 4.3em;
}

.title span {
  color: #f85e9f;
}

.text {
  color: rgb(25, 24, 37, 50%);
  margin-bottom: 43px;
}

.play {
  width: 181px;
  height: 56px;
  background-color: transparent;
  border-radius: 100px;
  border: #eeeeee solid 1px;
  cursor: pointer;
}

.play:hover {
  transform: scale(1.1);
}

.play span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}
