header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 35px;
}

.logo {
  display: flex;
  gap: 16px;
}

.logo p {
  font-size: 1.5em;
  font-weight: 700;
}

.itens ul {
  gap: 50px;
  display: flex;
  list-style-type: none;
}

.buttons button {
  width: 105px;
  height: 49px;
  border-radius: 100px;
  cursor: pointer;
}

.buttons button:hover {
  transform: scale(1.1);
}

.logIn {
  background-color: transparent;
  border: none;
}

.signUp {
  background-color: #5d50c6;
  color: #fff;
  border: none;
}
